@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #22c55e;
  --color-primary-dull: #86efac;
  --color-secoundary: #ef4444;
  --color-secoundary-dull: #fca5a5;
  --color-third: #10b981;
}
::-webkit-scrollbar{
    display: none;
}
* {
  font-family: "Outfit", sans-serif;
}
body {
  background: linear-gradient(to bottom, #c7ffe5, #fff);
}
